{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}
    <h1>Toutes les categories de la table category : </h1>
    {% for category in categories %}
        <div>
            <a class="text-decoration-none text-dark" href="{{ path("category_show", { categoryName: category.name }) }}">
                <h2>{{ category.name }}</h2>
            </a>
        </div>
    {% else %}
        <div>
            <p>Aucune série trouvée</p>
        </div>
    {% endfor %}
    <a class="btn btn-warning" href="{{ path('category_new') }}">Add new category</a>
    <a class="btn btn-warning" href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}